@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800&display=swap');

// VARIABLES
$primary-dark: #002d83;
$primary-light: #89e0fe;
$secondary: #ffdb85;
$body-text: #4c5e72;
$body-text-light: #9da7b2;


// GENERAL

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: $body-text;
}

.container {
    display: flex;
    background-color: #f0f4f5;
    min-height: 100vh;
    width: 100%;
}

.h1-heading {
    font-size: 2.4rem;
    font-weight: 800;
}

.h2-heading {
    font-size: 1.9rem;
    font-weight: 800;
}

.h3-heading {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-small {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    width: 8rem;
    height: 2.8rem;
    background-color: #d6dbdf;
    border-radius: 5px;
    border: none;
    color: $primary-dark;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: $primary-dark;
    }
}

.text-link {
    font-weight: 800;
    color: $primary-dark;
    text-decoration: none;

    & img {
        width: 1.5rem;
        vertical-align: -10%;
        margin-right: 1rem;
    }

    &:hover {
        border-bottom: 2px solid $primary-light;
    }
}


// SIDEBAR

.sidebar {
    background-color: #fff;
    padding: 4rem;
    width: 30rem;
    min-height: 100vh;
    flex-shrink: 0;
    

    &__logo {
        width: 42%;
        margin-bottom: 7rem;
        image-rendering: -webkit-optimize-contrast;
    }

    &__nav ul {
        line-height: 2.66;
        list-style: none;
        padding-left: 2.5rem;
        position: relative;

        & li {
            cursor: pointer;
            fill: $body-text-light;

            &:hover {
                color: $primary-dark;
                font-weight: 800;
            }
        }

        & li:first-child {
            color: $primary-dark;
            font-weight: 800;
        }

        & li:first-child::before {
            display: inline-block;
            content: "";
            width: .3rem;
            height: 2.1rem;
            background-color: $primary-light;
            margin-left: -2.4rem;
            margin-right: 2.1rem;
            margin-bottom: -.5rem;
        }

        & li:last-child {
            margin-top: 4rem;
        }
    }

    &__subheading {
        color: $body-text-light;
        margin-bottom: 1.3rem;
    }

    &__user {
        display: flex;
        margin-bottom: 6rem;

        &--notification {
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            background-color: #ff5131;
            position: absolute;
            left: 1.1rem;
            bottom: 1.5rem;
        }

        &-image {
            background-image: url(https://www.dropbox.com/s/3ehsrtyp4oliuap/ui-face.jpg?raw=1);
            width: 5.2rem;
            height: 5.2rem;
            border-radius: 50%;
            background-size: 120%;
            background-position: 50% 25%;
            image-rendering: pixelated;
        }
    }

    

    &__logout {
        position: absolute;
        left: -.5rem;
        bottom: 1rem;
        fill: $body-text-light;
    }
    

    &__user-details {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-top: .2rem;
        position: relative;

        & > span {
            font-size: 1.7rem;
            font-weight: 800;
        }

        & svg {
            fill: $body-text-light;
            margin-top: .5rem;
        }
    }
}


// CONTENT

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4rem;

    & > h1 {
        margin-bottom: 2.7rem;
    }
}

.full-width-column {
    display: flex;
}

.main-column {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    flex: 1;
}

.card-main {
    min-width: 115rem;
    background-color: #fff;
    border-radius: .6rem;
    box-shadow: 0 0 10px 2px rgba(76, 94, 114, .03);
    padding: 3rem 3rem 2.5rem 3rem;
    margin-bottom: 3rem;
}

.card-side {
    width: 36rem;
    background: #fff;
    border-radius: .6rem;
    box-shadow: 0 0 10px 2px rgba(76, 94, 114, .03);
    padding: 3rem 3rem 2.5rem 3rem;
    margin-bottom: 3rem;
}

.summary__card {
    background-color: $primary-light;
    border-radius: .6rem;
    min-width: 24rem;
    height: 11.2rem;
    padding: 2.8rem 2rem 3rem 2.5rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    color: $primary-dark;
    box-shadow: 0 0 10px 2px rgba(76, 94, 114, .1);
    position: relative;
    overflow: hidden;
    flex-grow: 1;

    &:last-child {
        margin-right: 0;
    }

    & > h3 {
        margin-bottom: 1rem;
        font-weight: 700;
    }

    & > span:nth-of-type(1) {
        font-size: 3rem;
        font-weight: 800;
    }

    & > span:nth-of-type(2) {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &--deals {
        background-color: $secondary;
    }

    &--circle {
        width: 14.5rem;
        height: 14.5rem;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -1.6rem;
        right: -4.5rem;
    }
}

.properties__img {
    position: absolute;
    top: 2.8rem;
    right: 2rem;
    width: 5.2rem;
    z-index: 2;
}

.active-deals__img {
    position: absolute;
    top: 2.6rem;
    right: 2rem;
    width: 6rem;
    z-index: 2;
}


// MAIN COLUMN CARDS

.table {
    border-collapse: collapse;
    margin-top: 1.6rem;
    // table-layout: fixed;
    width: 100%;
    
    & thead tr {
        height: 4rem;
    }

    & th {
        background-color: #eef5f7;
        text-align: left;
        
        
        &:first-child {
            -moz-border-radius: 6px 0 0 6px;
            padding-left: 2rem;
            border-radius: 6px 0 0 6px;
        }

        &:last-child {
            -moz-border-radius: 0 6px 6px 0;
            border-radius: 0 6px 6px 0;
            padding-right: 2rem;
        }

        img {
            vertical-align: 20%;
            padding-left: 4px;
            cursor: pointer;
        }
    }

    & td {
        & img {
            cursor: pointer;
        }

        &:first-child {
            padding-left: 2rem;
        }

        &:last-child {
            padding-right: 2rem;
        }
    }

    & tbody {
        
        & img {
            transform: rotate(45deg);
        }

        & tr {
            height: 5.2rem;
            border-bottom: 1px solid #e3e7eb;
    
            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: #f9fbfb;
            }

            & td:last-child {
                text-align: end;
            }
        }
    }


    
}


// SIDE COLUMN CARDS

.notifications {
    
    & h2 {
        margin-bottom: 2.5rem;
    }

    &__message {

        & em {
            color: $primary-dark;
            font-weight: 800;
            font-style: normal;
        }

        &:last-of-type {

            .notifications__date::after {
                content: "";
                display: none;
            }
        }
    }

    &__date {
        color: $body-text-light;
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 2rem;

        &::after {
            content: "";
            display: block;
            background-color:#e3e7eb;
            height: 1px;
            margin: 2rem 0;
        }
    }
}

.newsfeed {

    & h2 {
        margin-bottom: 2.5rem;
    }

    &__message {
        display: flex;
        margin-bottom: 2rem;

        & p:first-of-type {
            font-weight: 800;
        }

        & img {
            width: 60px;
            align-self: start;
            flex-shrink: 0;
        }
    }

    &__text {
        margin-left: 2rem;
    }

    &__date {
        color: $body-text-light;
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 1rem;
    }
}

.notifications__message:last-of-type,
.newsfeed__message:last-of-type {
    margin-bottom: 3rem;
}
